.windows{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.sliderConteiner{
  flex: 1 1;
  max-width: 892px;;
  display: flex;
  position: relative;
  left: 4%;
  top: 6%;
  height: 500px;
  align-items: center;
}
.allItems{
  height: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.arrow {
  cursor: pointer;
}