*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.footer_section{
  display: flex;
  flex-direction: column;
}
body{
overflow-x: hidden;
background-color: rgb(25, 25, 25,0.1);

}

.header{
display: flex;
padding: 41px 300px;
gap: 160px;
background-color: #191919;

}
.nav_menu{
display: flex;
align-items: center;
font-size: 17px;
justify-content: space-around;
font-weight: 700;
gap: 23px;
position: relative;
left: 4%;
flex-direction: row;
color: white;
}
.logo_name{
font-size: 17px;
font-weight: 400;
color: white;
font-size: 17px;
font-weight: 400;
color: white;
display: flex;
gap: 10px;
text-decoration: none;
}
li {
position: relative;
list-style-type:none; 
text-decoration: none;
}

.a{
  text-decoration: none;
  color: white;
}

li::before {
content: '';
position: relative;
display: inline-block;
width: 5px;
height: 5px;
background-color: white;
margin-right: 10px;
transform: translate(0, -50%) scaleY(1.5) rotate(45deg);
}
.section_content{
display: flex; 
height: 557px;
}
.img{
  position: relative;
  width: 861px;
}

.div_img{
  flex: 1 1;
  width: 861px;
  display: flex;
  position: relative;
}

.thumb_div{
  position: relative;
  right: -15.1%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1 1;
}

.thumb_one{
height: 99px;
width: 413px;
position: relative;
top: 11%;
left: 3%;
background: rgb(25, 25, 25,0.2);
align-items: center;
display: flex;
border-radius: 14px;
gap: 38px;
}
.thumb_one > img {
position: relative;
left: 3.6%;
top: 1%;
}
.thumb_one > p {
font-weight: 600;
}

.thumb_second{
height: 99px;
width: 413px;
position: relative;
top: 13%;
left: 3%;
background: rgb(25, 25, 25,0.2);
align-items: center;
display: flex;
border-radius: 14px;
gap: 38px;
}

.thumb_second > img {
position: relative;
left: 3.6%;
top: 1%;
}
.thumb_second > p {
font-weight: 600;
}
.poster_div{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.poster_div > h1 {
font-size: 50px;
font-weight: 400;
position: relative;
top: 5%;
color: black;
}
.style{
display: flex;
height: 306px;
width: 1297px;
background-color: rgb(25, 25, 25,0.1);
border-radius: 20px;

}
.conteiner{
display: flex;
padding: 180px 323px 0px;
flex-direction: column;
gap: 103px;
}
.events{
display: flex;
align-items: center;
gap: 30px;
font-size: 23px;
position: relative;
top: 6%;
left: 1.3%;
}
.events > a {
position: relative;
left: 2%;
font-weight: 400;
text-decoration: none;
color: black;
}
.h1{
display: flex;
flex-direction: column;
align-items: center;
font-size: 60px;
font-weight: 300;
height: 0;
position: relative;
left: 15%;
top: 31%;
}
.span_h1{
font-size: 20px;
}
.content_img{
width: 320px;
height: 240px;
position: relative;
left: 31.3%;
top: 11%;
border-radius: 15px;
}
.name_content{
display: flex;
flex-direction: column;
position: relative;
left: 14%;
top: 15%;
height: 0;
flex: 1 1;
gap: 29px;
}
.name_content > h1 {
font-size: 31px;
font-weight: 400;
display: flex;
flex-direction: column;
position: relative;
top: 8px;
}
.attribute{
display: flex;
align-items: center;
position: relative;
left: 1%;
}
.music{
display: flex;
position: relative;
top: 37%;
gap: 24px;
align-items: center;

}

.time{
display: flex;
position: relative;
top: 43%;
gap: 24px;
left: 4%;
align-items: center;
}
.age{
display: flex;
position: relative;
top: 47%;
gap: 24px;
left: 8%;
align-items: center;
}

.div_btn{
height: 0;
position: relative;
left: -4.8%;
top: 127px;
display: flex;
}

.btn_order{
width: 171px;
height: 51px;
border: none;
border-radius: 26px;
position: relative;
top: -3%;
display: flex;
align-items: center;
justify-content: center;
background-color: #05B093;
text-decoration: none;
}
.btn_order:hover{
  background-color: #94bbe9;
  transition: 0.6s;
}
.order{
font-size: 18px;
font-weight: 400;
color: white;
}
.h1_second{
display: flex;
flex-direction: column;
align-items: center;
font-size: 60px;
font-weight: 300;
height: 0;
position: relative;
left: 11%;
top: 20%;
}
.span_h1_second{
font-size: 20px;
}
.content_img_second{
width: 320px;
height: 240px;
position: relative;
left: 22.3%;
top: -6%;
}
.name_content_second{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 14%;
  top: 15%;
  height: 0;
  flex: 1 1;
  gap: 29px;
}
.name_content_second > h1 {
  font-size: 32px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 16px;
}
.name_content_second > P {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 6px;
}
.attribute_second{
  position: relative;
  align-items: center;
  display: flex;
  top: 6px;
}
.music_second{
display: flex;
position: relative;
top: 33%;
gap: 24px;
align-items: center;

}

.time_second{
display: flex;
position: relative;
top: 33%;
gap: 24px;
left: 5%;
align-items: center;
}
.age_second{
  position: relative;
  top: 9px;
  display: flex;
  gap: 24px;
  left: 8%;
  align-items: center;
}

.div_btn_second{
height: 100%;
position: relative;
left: -3.2%;
top: 80px;
display: flex;
}

.btn_order_second{
width: 171px;
height: 51px;
border: none;
border-radius: 26px;
position: relative;
top: -3%;
display: flex;
align-items: center;
justify-content: center;
background-color: #05B093;
}
.order_second{
font-size: 18px;
font-weight: 400;
}
.first_div{
display: flex;
}
.style_second{
  height: 306px;
  width: 1297px;
  background-color: rgb(25, 25, 25,0.1);
  border-radius: 20px;
  top: -23px;
  display: flex;
  position: relative;
}
.news_section{
  display: flex;
  padding: 180px 323px 0px;
  flex-direction: column;
  gap: 103px;
  height: 647px;
}
.div_news{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.text_news{
  position: relative;
  top: -69px;
  font-size: 50px;
  font-weight: 400;
  left: -1%;
  color: black;
}
.main_div_news{
  display: flex;
  flex-direction: row;
  height: 0;
}
.news_main{
  height: 0;
  position: relative;
  gap: 30px;
  display: flex;
  flex-direction: column;
  left: -1%;
  top: -9px;
}
.news_one {
  width: 100%;
  position: relative;
}
.news_main > h3 {
  font-size: 25px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1px;
}
.transfer{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -3px;
}
.div_news_second{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 0;
}
.news_second{
  width: 84%;
  position: relative;
  left: 11px;
  top: -10px;
}
.div_news_second > h3 {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 100;
  position: relative;
  top: -9px;
  left: 4%;
}
.news_p {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -12px;
  left: 3%;
}
.excursions{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 59.6%;
  top: -49%;
  width: 100%;
  height: 100%;
}
.excurs_img{
  width: 41.3%;
  position: relative;
}
.excursions > h2 {
  position: relative;
  top: -68px;
  font-size: 30px;
  font-weight: 500;
  left: 2%;
  color: white;
}
.sightseeing_tours{
  height: 0;
  display: flex;
  flex-direction: column;
}
.tours_div{
  display: flex;
  flex-direction: column;
  gap: 121px;
  width: 141px;
}
.tours_div > h1 {
  position: relative;
  font-size: 32px;
  font-weight: 400;
  top: -16px;
  width: 100px;
}
.div__btn {
  display: flex;
  gap: 10px;
  position: relative;
  left: 7px;
  top: -6%;
  width: 105px;
}
.div__btn > button{
  width: 48px;
  height: 48px;
  border-radius: 9px;
  border: none;
  background: #05B093;
}
.announce_div{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  top: 18px;
  position: relative;
}
.announce_div > h1 {
  font-size: 47px;
  font-weight: 400;
  position: relative;
  top: -13px;
}
.events_annonce {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 23px;
  position: relative;
  top: -11px;
  left: -0.1%;
  
}
.events_annonce > a {
  text-decoration: none;
  color: black
}
.annonce_section{
  display: flex;
  padding: 180px 315px 0px;
  flex-direction: column;
  gap: 130px;
}
.glav_month_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.day_div{
  flex: 1;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: baseline;
}
.month_div{
  display: flex;
  flex-direction: column;
  background: #05B093;
  width: 98px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  left: -18px;
  top: -16px;
}
.name_annonce {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -14px;
}
.month_day{
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  font-size: 30px;
  top: -5px;
}
.month_span{
  font-size: 17px;
  font-weight: 300;
}
/* .name_annonce{
  height: 0;
  position: relative;
  left: -6%;
  font-size: 18px;
  top: -13px;
  font-weight: 400;
} */

.month_div_second{
  display: flex;
  flex-direction: column;
  background: #05B093;
  width: 130px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  left: 5px;
  top: -16px;
}
.month_day_second{
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  font-size: 30px;
  top: -2px;
}

.name_annonce_second{
  height: 0;
  position: relative;
  left: -5%;
  font-size: 16px;
  top: -13px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.month_span_second{
  font-size: 17px;
  font-weight: 300;
}
.month_div_three{
  display: flex;
  flex-direction: column;
  background: #05B093;
  width: 98px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  left: -1px;
  top: -16px;
}
.month_day_three{
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  font-size: 30px;
  top: -2px;
}
.month_span_three{
  font-size: 17px;
  font-size: 17px;
  font-weight: 300;
}
.name_annonce_three{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -14px;
}
.month_div_four{
  display: flex;
  flex-direction: column;
  background: #05B093;
  width: 98px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  left: 2px;
  top: -16px;

}
.month_day_four{
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  font-size: 30px;
  top: -5px;
}
.month_span_four{
  font-size: 17px;
  font-weight: 300;
}
.name_annonce_four{
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -14px;
}
.divTable{
  width: 300px;
  height: 200px;
  position: relative;
  left: 17%;
  top: -6px;
}
.tr{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.tr2{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.td{
  width: 43px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background: rgb(25, 25, 25,0.3); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  position: relative;
  left: 3%;
}
.td:hover{
  background: #05B093; 
  transition: 0.5s;
}
.td2{
  width: 43px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background: #05B093;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  position: relative;
  left: 3%;
}
.td2:hover{
  background: rgb(25, 25, 25,0.3);
  transition: 0.5s; 
}

.tbody{
  display: flex;
  gap: 10px;
}

.Tickets{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 100px;
}

.footer_div{
  background-color: #191919;
  position: relative;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 300px;
}
.logo_footer{
  display: flex;
  gap: 10px;
  position: relative;
  left: -8%;
  font-size: 16px;
  font-weight: 100;
  color: white;
  top: -81px;
}
.meropriatia{
  display: flex;
  flex-direction: column;
  position: relative;
  left: -5.7%;
  gap: 41px;
  color: white;
  top: -48px;
}
.h1_mer{
  position: relative;
  left: 10px;
}
.kinds{
  display: flex;
  gap: 27px;
  position: relative;
  top: -8px;
  left: 11px;
}
  
.pos{
  text-decoration: none;
  color: white;
}
.contact{
  flex-direction: column;
  display: flex;
  gap: 30px;
  position: relative;
  left: -15px;
  color: white;
  top: -12px;
}
.p_contact{
  flex-direction: column;
  display: flex;
  gap: 23px;
  top: 8px;
  position: relative;
}
.hr{
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  color: white;
}

.div_line {
  position: relative;
  top: -34px;
}

.line_div{
  background: white;
  width: 1500px;
  height: 1px;
  position: relative;
  left: 8%;
  border-radius: 2px;
}
.name_saite{
  position: relative;
  display: flex;
  justify-content: center;
  top: -13px;
}
.link_saite_name{
  display: flex;
  gap: 12px;
  text-decoration: none;
  color: white;
}